
body{
    font-family: Courier ;
    color: white;
    background-color: black;
}
.container{
    width: 450px;
	flex-wrap: wrap;  
    margin: auto; 
    
}
.container h1{
    margin-top: 100px;
    text-align: center;
    font-size: 25px;
    position: relative;
}
.container-body{
    font-size: larger;
    margin-left: 25px;
}
input{
	background: whitesmoke;
	width: 350px;
	height: 35px;
    padding: 5px;
	border-radius: 40px;
    border: none;
	outline: none;
}
.resultado{
    text-align: center;
    margin-top: 10PX;
}
button{
    width: 200px;
    height: 40px;
    margin-bottom: 12px;
    border: none;
    border-radius: 40px;
    color: black;
    background: gray
}
button:hover{
    background: whitesmoke;
    transition: 0,5s;
}